<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personneldepartment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".postsActivities.EditPostActivity"></activity>
        <activity android:name=".postsActivities.AddPotsActivity" />
        <activity android:name=".postsActivities.PostsActivity" />
        <activity android:name=".peopleActivities.EditEmployeeActivity" />
        <activity android:name=".peopleActivities.EditCandidateActivity" />
        <activity android:name=".peopleActivities.AddPersonActivity" />
        <activity android:name=".peopleActivities.PeopleActivity" />
        <activity
            android:name=".GeneralMenuActivity"
            android:label="@string/title_activity_general_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>